<?php
define('DB_NAME', '{{ mysql_wordpress_db_name }}');
define('DB_USER', '{{ mysql_wordpress_user_name }}'); 
define('DB_PASSWORD', '{{ mysql_wordpress_user_password }}'); 
define('DB_HOST', 'localhost'); 
define('DB_COLLATE', 'utf8_general_ci'); 
define('WP_CONTENT_DIR', '{{ wordpress_installation_path }}/wp-content');
?>
